/node_modules
/storage/*.key
/vendor
/.idea
/.phpintel
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.history
/public/purchases/*
/public/purchases/xmls/*
public/thumbnail/*
/public/storage
.editorconfig
.styleci.yml
public/images/logo_20571569885.png
/storage
public/storage/*